
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

    <input name="txtNama" type="text" value="Anggra" />
    <select name="atasan">
        <option value="A">Si A</option>
        <option value="B">Si B</option>
        <option value="C" selected>Si C</option>
    </select>

</body>
</html>
